<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <h2>Please login below</h2>

  <p>New here? <a href="/register">Register</a> instead</p>

  <form method="POST" action="/login">
    <label>Email</label>
    <input name="email" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br/>
    <button type="sutmit">Login</button>
  </form>
</body>
</html>
