<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <h2>Registration Page</h2>

  <p><a href="/login">Login</a> if you've been here before</p>

  <form method="POST" action="/register">
    <label>Email</label>
    <input name="email" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br/>
    <button type="sutmit">Register</button>
  </form>
</body>
</html>
